::ng-deep .ant-collapse-content-box,
::ng-deep  .ant-collapse-content>.ant-collapse-content-box{
  padding: 0 0 0 16px !important;
}

::ng-deep .ant-collapse-header {
  padding: 5px !important
}

.field {
  padding: 0 36px
}

nz-divider {
  margin: 5px 0 !important;
}

