<div class="col">

  <div class="analyze-action">
    <button nz-button nzType="primary" nzShape="circle" (click)="onRunCode()">
      <span nz-icon nzType="caret-right" nzTheme="outline"></span>
    </button>
  </div>

  <button class="fullScreenButton" nz-button nzType="text" (click)="showCodeInFullScreenMode()">
    <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
  </button>

  <textarea
    id="editing"
    nz-input nzBorderless
    [(ngModel)]="code"
    class="box shadow rounded"
  ></textarea>

</div>

<nz-modal [(nzVisible)]="isFullScreen" (nzOnCancel)="closeFullScreen()"
          nzFooter=" " nzDirection="rtl" nzClassName="fullScreenCode">
  <ng-container *nzModalContent>
    <textarea
      id="editing-fullscreen"
      nz-input nzBorderless
      [(ngModel)]="code"
      class="box"
    ></textarea>
  </ng-container>
</nz-modal>
