@import "../../styles/mixins";

textarea {
  border: none;
  resize: none;
  outline: none;
  height: unset;
  text-align: right;
}

.col {
  @include col;
  direction: rtl;
}

.analyze-action {
  align-self: end;
  margin-bottom: .5rem;
}

.fullScreenButton {
  position: absolute;
}

::ng-deep .fullScreenCode{
  width: 80% !important;
  height: 70% !important;
  direction: rtl;

  .ant-modal-content,
  .ant-modal-body {
    height: 100%;

    .box {
      height: 100% !important;
    }
  }
}
