<!---->
<div class="main-interpreter">
  <div class="code-window">
    <ng-template *ngIf="tokens.length != 0; then syntaxHighlighter; else codeInput"></ng-template>
  </div>

  <div class="analysis-window">

    <nz-tabset>
      <nz-tab nzTitle="Lexical Analysis">
        <abjad-lexical-analysis [tokens]="tokens" (tokenFocused)="handleTokenFocused($event)" (tokenUnfocused)="handleTokenUnfocused($event)"></abjad-lexical-analysis>
      </nz-tab>
      <nz-tab nzTitle="Parsed Bindings">
        <abjad-parsing-analysis [bindings]="bindings"></abjad-parsing-analysis>
      </nz-tab>
    </nz-tabset>

  </div>
</div>

<ng-template #syntaxHighlighter>
  <abjad-syntax-highlighter *ngIf="tokens.length != 0" (editMode)="onEditMode()" [tokens]="tokens" [focusedToken]="focusedToken" class="centered"></abjad-syntax-highlighter>
</ng-template>
<ng-template #codeInput>
  <abjad-code-input (runCode)="onRunCode($event)" [code]="code" class="centered"></abjad-code-input>
</ng-template>
