@import "../styles/mixins";

.main-interpreter {
  margin: 20px;
  @include formatted-row;

  .code-window {
    width: 45%;
    text-align: right;
  }

  .analysis-window {
    width: 50%;
    text-align: left;
  }
}
