@import "../../styles/mixins";
@import "../../styles/variables";

div {
  code {
    white-space: pre;
    border: 1px dashed white;
  }
}

.rounded {
  @include rounded;
}

.shadow {
  @include shadow;
}

.focused {
  border: 1px dashed $color-cyan-main !important;
}
