@import "styles/mixins";

body {
  background: rgba(0, 0, 0, 0.02) !important;
  height: auto !important;
}

.box {
  @include box;
  height: 40vh !important;
  resize: none;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.rounded {
  @include rounded;
}

.shadow {
  @include shadow;
}
